* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	max-width: 1400px;
	margin: 20px auto;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}
